<template>
	<div class="f-input-wapper">
		<input type="text" name="" :placeholder="placeholder"/>
	</div>
</template>

<script>
	export default {
		name: 'f-input',
		props: {
			placeholder: String
		}
	}
</script>

<style media="screen">
	.f-input-wapper input {

	}
</style>

