<template>
	<div>
		<div class="f-menu-btn-wapper">
			<div class="f-menu-btn" @touchstart="toggleHandle">
				<span class="btn-line first-line" :class="{'first-line-close': isOpenMenu}"></span>
				<span class="btn-line second-line" :class="{'second-line-close': isOpenMenu}"></span>
				<span class="btn-line third-line" :class="{'third-line-close': isOpenMenu}"></span>
			</div>
		</div>
		<div class="f-menu-wapper" v-if="!isMb">
			<ul class="nav-lists">
				<li class="nav-item" v-for="nav in navList" :key="nav.name">
					<router-link :to="nav.link">{{nav.name}}</router-link>
				</li>
			</ul>
			<div class="search-bar">
				<f-input placeholder="请输入"></f-input>
			</div>
		</div>
		<div class="f-menu-mb-wapper" v-if="isMb">
			<ul class="mb-nav-lists">
				<li class="mb-nav-item" v-for="nav in navList" :key="nav.name">
					<router-link :to="nav.link">{{nav.name}}</router-link>
				</li>
			</ul>
			<div class="mb-search-bar">
				<f-input placeholder="请输入"></f-input>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue'
	export default {
		name: 'f-menu',
		props: {
			navList: {
				type: Array,
				default: []
			}
		},
		data() {
			return {
				isOpenMenu: false, //是否点击菜单按钮
				isMb: false, //是否小屏展示
			}
		},
		methods: {
			eventBind: function(el) {

			},
			toggleHandle: function() {
				if(!this.isOpenMenu) {
					this.isOpenMenu = true;

				} else {
					this.isOpenMenu = false;

				}
			}
		},
		created() {
			let cW =  document.body.clientWidth;
			let _resize = (cW) => {
				var mbNavWapper = document.createElement('div');
				mbNavWapper.innerHTML =''
				document.getElementsByTagName('body')[0].appendChild(mbNavWapper)
				if(cW < 768) {
					this.isMb = true;
				}
				else {
					this.isMb = false;
				} 
			}
			_resize(cW)
			window.addEventListener('resize', function() {
				cW =  document.body.clientWidth;
				_resize(cW)
			}, false);
		},
	}
</script>

<style lang="less" media="screen">
	.f-menu-btn {
		display: none;
	}
	.f-menu-wapper {
		display: flex;
		margin-left: 60px;
	}
	.nav-lists {
		display: flex;
		flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: center;
	    justify-content: flex-start;
	}
	.nav-item {
		padding: 5px;
	}
	.nav-item a {
		padding: 0 10px;
		font-size: 18px;
		color: #333;
	}

	/**移动端样式**/
	@media (max-width: 768px) {

		.f-menu-btn-wapper {
			float: right;
			margin-right: 20px;
			.f-menu-btn {
			    display: flex;
			    flex-direction: column;
			    justify-content: flex-end;
			    width: 24px;
			    height: 24px;
			    background: none;
				.btn-line {
					display: inline-block;
				    width: 24px;
				    height: 3px;
				    background: #000;
				    transition: all 0.3s ease-out;
				}
				.first-line-close {
					transform: rotate(45deg) translate3d(6px,6px,0);
	    			transform-origin: center;
				}
				.third-line-close {
				    transform: rotate(-45deg) translate3d(7px,-7px,0);
				    transform-origin: center;
				}
				.second-line {
					margin: 6px 0;
				}
				.second-line-close {
					transform: scale3d(0,1,1);
				}
			}
		}
		.f-menu-btn-wapper:after {
			clear: both;
			content: '';
		}

		.f-menu-mb-wapper {
			display: block;
		    position: fixed;
		    width: 100%;
		    height: auto;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: #fff;
		    transition: all 0.3s ease-out;
		    transform: translate3d(0,-9999px,0);
		    z-index: 10010;
		}
	}
</style>