<template>
	<div class="f-card-wapper">
		<router-link to="">
			<div class="f-card-header" :style="headerStyle" v-if="$slots.header || header">
				<slot name="header"></slot>
			</div>
			<div class="f-card-body" :style="bodyStyle">
				<div class="pic-top-card" v-if="bodyTheme == 'ptc'">
					<div class="f-card-pic">
						<img :src="cPic" alt="">
					</div>
					<div class="f-card-content">
						<div class="f-card-title">{{cTitle}}</div>
						<div class="f-card-desc">{{cDesc}}</div>
						<div class="f-card-btm">
							<div class="card-pulish-tm">{{cTm}}</div>
							<div class="card-view-count">{{cViews}}</div>
						</div>
					</div>
				</div>
				<div class="pic-left-card" v-if="bodyTheme == 'plc'"></div>
				<div class="pic-right-card" v-if="bodyTheme == 'prc'"></div>
				<div class="no-pic-card" v-if="bodyTheme == 'npc'"></div>
				<slot></slot>
			</div>
		</router-link>
	</div>
</template>

<script>
	import util from '@/util/index'
	let format = util.format;

	export default {
		name: 'f-card',
		props: {
			bodyStyle: {
				type: Object,
				default: {}
			},
			headerStyle: {
				type: Object,
				default: {}
			},
			header: {
				default: '',
			},
			bodyTheme: {
				type: String,
				default: 'ptc'
			},
			cPic: {
				type: String,
				default: '/static/article-pic.jpg'
			},
			cTitle: {
				type: String,
				default: '如何用 fis3 来开发 React?如何用 fis3 来开发 React?'
			},
			cDesc: {
				type: String,
				default: '如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?如何用 fis3 来开发 React?'
			},
			cTime: {
				type: String
			},
			cViews: {
				type: Number,
				default: 0
			}
		},
		computed: {
			cTm() {
				if(!this.cTime) {
					return format.formatTm(new Date())
				}
			}
		}
	}
</script>

<style lang="less" media="screen">
	.f-card-wapper {
		margin-top: 20px;
		padding: 8px 10px;
		border: 1px solid #d1dbe5;
	    border-radius: 8px;
	    background-color: #fff;
	    overflow: hidden;
	    transition: opacity 0.3s ease-in;
	    .f-card-pic {
			width: 100%;
			height: auto;
			max-height: 250px;
			border-radius: 8px;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
		.f-card-title {
		    height: 33px;
		    width: 100%;
			line-height: 30px;
			box-sizing: border-box;
		    color: #5a5a5a;
		    font-size: 17px;
		    margin: 5px 0;
		    padding: 0 10px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		}
		.f-card-desc {
			max-height: 4.4em;
			margin-bottom: 8px;
		    color: #aaa;
		    font-size: 16px;
		    text-indent: 20px;
		    line-height: 1.6em;
		    overflow: hidden;
		}
		.f-card-btm {
			display: flex;
			color: #aaa;
			font-size: 14px;
			.card-pulish-tm {
				flex: 1;
			}
		}
	}
	@media (min-width: 768px) {
		.f-card-wapper:hover {
			opacity: .7;
			.f-card-title {
				color: red
			}
		}
	}
	
</style>