<template>
	<header class="header">
		<div class="f-menu-mb-wapper" v-if="isMb" :style="mbMenuSty">
			<ul class="mb-nav-lists">
				<li class="mb-nav-item" v-for="nav in navList" :key="nav.name">
					<router-link :to="nav.link">{{nav.name}}</router-link>
				</li>
			</ul>
			<div class="mb-search-bar">
				<f-input placeholder="请输入"></f-input>
			</div>
		</div>

		<div class="header-wapper">
			<div class="header-logo"></div>
			<div class="f-menu-btn-wapper">
				<div class="f-menu-btn" @touchstart="toggleHandle">
					<span class="btn-line first-line" :class="{'first-line-close': isOpenMenu}"></span>
					<span class="btn-line second-line" :class="{'second-line-close': isOpenMenu}"></span>
					<span class="btn-line third-line" :class="{'third-line-close': isOpenMenu}"></span>
				</div>
			</div>
			<nav class="nav-wapper">
				<div class="f-menu-wapper" v-if="!isMb">
					<ul class="nav-lists">
						<li class="nav-item" v-for="nav in navList" :key="nav.name">
							<router-link :to="nav.link">{{nav.name}}</router-link>
						</li>
					</ul>
					<div class="search-bar">
						<f-input placeholder="请输入"></f-input>
					</div>
				</div>
			</nav>
		</div>
	</header>
</template>

<script>
	export default {
		name: 'header',
		data() {
			return {
				navList: [
					{
						name: 'link1',
						link: 'test1'
					},
					{
						name: 'link2',
						link: 'test2'
					},
					{
						name: 'link1',
						link: 'test1'
					},
					{
						name: 'link1',
						link: 'test1'
					},
					{
						name: 'link1',
						link: 'test1'
					}
				],
				isOpenMenu: false, //是否点击菜单按钮
				isMb: false, //是否小屏展示
				wHight: 0,
				mbMenuSty: {}
			}
		},
		methods: {
			eventBind: function(el) {

			},
			toggleHandle: function() {
				if(!this.isOpenMenu) {
					this.isOpenMenu = true;
					this.mbMenuSty.height = this.wHight + 'px';
					this.mbMenuSty.padding = '146.74px 0px';
					this.mbMenuSty.transform = 'translate3d(0px, 0px, 0px)';
				} else {
					this.isOpenMenu = false;
					this.mbMenuSty.transform = 'translate3d(0px, -'+ this.wHight +'px, 0px)';
				}
			}
		},
		created() {
			let cW =  document.body.clientWidth;
			let cH = document.body.clientHeight;
			this.wHight = cH;
			let _resize = (cW) => {
				var mbNavWapper = document.createElement('div');
				mbNavWapper.innerHTML =''
				document.getElementsByTagName('body')[0].appendChild(mbNavWapper)
				if(cW < 768) {
					this.isMb = true;
				}
				else {
					this.isMb = false;
				} 
			}
			_resize(cW)
			window.addEventListener('resize', function() {
				cW =  document.body.clientWidth;
				_resize(cW)
			}, false);
		},
	}
</script>

<style lang="less" media="screen">
	.header-wapper {
		float: left;
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    padding: 10px 0;
	    z-index: 10011;
	    transform: translate3d(0,0,0);
		border-bottom: 1px solid #dad7d7;
   		box-shadow: 0 0 1px #ccc2c2;
   		box-sizing: border-box;
		background: #fff;
	}
	.header-logo {
		width: 78px;
		min-width: 78px;
		height: 38px;
		display: inline-block;
		margin-left: 25px;
		float: left;
		background: red;
	}
	
	.nav-wapper {
		float: right;
	}
	.search-bar {
		margin-right: 50px;
	}

	f-menu-btn {
		display: none;
	}
	.f-menu-wapper {
		display: flex;
		margin-left: 60px;
	}
	.nav-lists {
		display: flex;
		flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: center;
	    justify-content: flex-start;
	}
	.nav-item {
		padding: 5px;
	}
	.nav-item a {
		padding: 0 10px;
		font-size: 18px;
		color: #333;
	}

	/**移动端样式**/
	@media (max-width: 768px) {

		.f-menu-btn-wapper {
			float: right;
			margin-right: 20px;
			.f-menu-btn {
			    display: flex;
			    flex-direction: column;
			    justify-content: flex-end;
			    width: 24px;
			    height: 24px;
			    background: none;
				.btn-line {
					display: inline-block;
				    width: 24px;
				    height: 3px;
				    background: #000;
				    transition: all 0.3s ease-out;
				}
				.first-line-close {
					transform: rotate(45deg) translate3d(6px,6px,0);
	    			transform-origin: center;
				}
				.third-line-close {
				    transform: rotate(-45deg) translate3d(7px,-7px,0);
				    transform-origin: center;
				}
				.second-line {
					margin: 6px 0;
				}
				.second-line-close {
					transform: scale3d(0,1,1);
				}
			}
		}
		.f-menu-btn-wapper:after {
			clear: both;
			content: '';
		}

		.f-menu-mb-wapper {
			display: block;
		    position: fixed;
		    width: 100%;
		    height: auto;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    box-sizing: border-box;
		    background: #fff;
		    transition: all 0.3s ease-out;
		    transform: translate3d(0,-9999px,0);
		    z-index: 10010;
		    .mb-nav-lists {
		    	display: flex;
			    -webkit-display: inline-flex;
			    flex-direction: column;
			    align-items: center;
			    align-content: space-around;
			    line-height: 30px;
			    width: 100%;
			    a {
			    	color: #000;
    				font-size: 18px;
			    }
			    .mb-nav-item {
			    	flex-grow: 1;
			    }
		    }
		}
	}
</style>