<template>
	<div class="container">
		<f-row :gutter="20">
			<f-col class="f-col-md-3"  v-for="(item, index) in articleList" :key="index">
				<f-card :body-style="{ padding: '0px' }" 
						:header-style="{ padding: '0px' }"
						:c-title="item.ctitle"
						:c-desc="item.cdesc">
				</f-card>
			</f-col>
		</f-row>
		<div @click="addArt(3)">加载更多</div>
	</div>
</template>

<script>
	import { mapActions, mapState, mapGetters, mapMutations  } from 'vuex'

	export default {
		name: 'test1',
		data() {
			return {
				lists: []
			}
		},
		methods: {
			...mapActions({
				addArt: 'loadMoreArticles'
			}),
			...mapMutations([
				'loadMoreArticle'
			])
		},
		computed: {
			...mapState({
				articleList: state => state.moduleTest1.lists,
				localStae() {
					return this.lists.push(1)
				}
			}),
			...mapGetters([
				'filterArticle'
			])
		},	
		created() {
			//this.loadMoreArticle();
			console.log(this.articleList);
			console.log(this.filterArticle)
		},
		beforeMount() {
			//console.log('beforeMount')
		},
		mounted() {
			//console.log('mounted')
		},
		updated() {
			console.log(this.$store)
		},
		beforeDestroy() {
			//console.log('beforeDestroy')
		},
		destroyed() {
			//console.log('destroyed')
		}
	}
</script>

<style media="screen">
.container {
    width: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

</style>