<template>
	<div>
		<f-header></f-header>
		<div class="content-wapper">
			<transition name="fade" mode="out-in">
		        <router-view class="view"></router-view>
		    </transition>
		</div>
	</div>
</template>


<script>
	import components from '@/components/index'
	import FHeader from '@/views/Header'
	export default {
		name: 'app',
		components: {
			FHeader
		}
	}
</script>

<style lang="less" media="screen">
	 @import './assets/css/common.less';
	.content-wapper {
		margin-top: 60px;
	} 
</style>
